<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        15. ENFJ 언변능숙형
        
        시끄러움.
        핵인싸 되고싶어함.
        사람들을 이끄는 것에 타고난 기질이 있고 좋아하기도 함.
        사람을 되게 좋아함.
        상대방도 본인을 신뢰한다는 느낌을 받으면 살아있음을 느낌.
        단순함.
        멘탈 강함.
        무리에 속해있는 것도 좋아하지만 마이웨이 기질 약간 있음.
        여가시간 혼자 보내는거 좋아함.
        많은 사람들의 신뢰를 받는 성격.
        사람들한테 잘 맞춰주는 성격.
        객관적, 직관적 내가 스스로를 잘 앎 일에 흥미가 많은 사람이라 꿈이 여러개.
        센스있고 눈치가 빠름.
        계획짜는거 좋아함.
        남들 눈치봄 남들 신경쓰고 잘해주려하는데 그만큼 상처도 받음.
    </pre>
</body>
</html>