<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        11. ENFP 스파크형
        
        정신산만함, 생각 많음, 고집 셈.
        일머리 있음.
        흥미있고 관심있는건 열정적 그러나 관심 없는건 별로 알고 싶어하지도 않음.
        매번 나서서 무얼 하진 않는데 아무도 안나서면 답답해서 나서는 스타일.
        낯을 좀 가리는데 풀리면 금방 친해지고 말도 많아짐.
        얘기하는 거 좋아함.
        무언가에 쉽게 몰두했다 쉽게 그만둠.
        남 얘기에 리액션을 잘 해줘서 고민상담 하는 애들 많음.
        거짓말 잘 못해서 입에 발린 말 잘 못함.
        하루에 행복한 일 하나씩 정해놓고 설레함.
        친구들이랑 얘기하는거 좋아함.
        새롭게 친구 사귀는 거 좋아함.
        감정기복 심함.
        감정 얼굴에 다 드러나는 편.
        무계획, 즉흥적인 편.
        내가 하고싶은거 꼭 해야함.
        저금 잘 안함.
    </pre>
</body>
</html>