<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        16. ENTJ 지도자형
        
        팀플하면 결국 총대매고 내가 함.
        누구한테 의존하거나 의지하는 스타일 아님.
        오직 세상에 믿을 사람은 나 하나.
        열등감 느낀적 극히 드뭄.
        피해 주는거, 피해 받는거 싫어하고 남 일에 노관심.
        남이 이래라 저래라 하는거 싫어하고 냉철해질땐 끝도 없이 냉철해짐.
        성격 불도저 같은 경향.
        자기애 강함.
        감정적 공감 안됨.
        내 일은 내 일 니 일은 니 일.
        친구들이 하소연해도 공감이 아니라 해결책 찾아줌.
        새로운 사람 만나는 거 좋아하지만 인간과 깊은 관계맺는건 별로 안좋아함.
        머릿속에서 시뮬레이션 다 해보고 해결책 찾아가는 쪽.
        현실적, 논리적 근데 혼자있을 땐 상상력 개오져짐.
        사람많을 땐 프로페셔널한 정상인, 혼자있을 땐 몽상가.
    </pre>
</body>
</html>