<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        12. ENTP 발명가형
        
        혼자서 돌아다니는게 제일 편함.
        독립심 강함.
        탐욕적, 자존심, 고집 셈, 냉철함.
        겉으론 인싸 속모습은 아싸.
        나한테 잘해주는 사람은 두 배로 잘해주는데 나한테 못해주면 걍 1도 없음.
        밖에 놀러가면 진짜 잘 노는데 집 안에 있는것도 좋음.
        변덕 심함, 자기애 강함.
        직설적이고 솔직하게 내 맘을 표현하는 것에 거리낌이 없음.
        다른 사람들 일에 관심없고 다른 사람들이 나를 어떻게 생각하는지도 별 관심없음.
        지나간 일에 후회가 없음, 그래서 힘든 일 있어도 빨리 털어내는 편.
        자기합리화랑 포기 존나 잘하고 뒷일 생각 안하고 지금 내가 하고싶은대로 다 하면서 삼.
        감정기복 심함, 남들한테 기분 바뀌는거 다 티냄.
        사람한테 가장 힐링받고 사람한테 가장 스트레스 받음.
        좋아하는 사람 싫어하는 사람 명확히 구분됨.
        뒷심부족.
        혼자 있는거 좋아하는데 외로움 탐.
        뭐 하나에 꽂히면 그것만 함 질리면 아예안함.
        정해진 틀에 갇힌 생활 못함, 반복되는 일 매우 싫어함.
        잘못된거 잘못됐다고 말해야함.
        이기적으로 사는데 이기적인거 안싫어함.
        다방면에 적당한 재능, 근데 다 잘하는데 엄청 잘하진 않음.
        과정보다 결과 중요.
        사람들과 지내는거 좋아하고 친화력 좋고 외향적인데 혼자만의 시간도 필요함.
        손재주 있음.
    </pre>
</body>
</html>