<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        10. ESFP 사교형
        
        성격 매우 급함.
        우주최강오지랖.
        생각없이 잘삼.
        아무리 걱정되는 일 있어도 좀만 지나면 무생각.
        하고싶다고 생각한거 다 해야됨 근데 하기싫은건 끝까지 미룸.
        고집 셈.
        혼자 있으면 지루해서 뭔갈 계속 하고 있어햐 함.
        모임장소에서 침묵 흐르는거 제일 싫어함.
        사람의 단점보단 장점을 보려하고 싸움보단 평화가 좋음.
        사교성 좋음.
        자존감 높음.
        모든게 내 위주.
        사람 너무 좋고 어울리는 거 좋은데 집밖에 나가기 귀찮음.
    </pre>
</body>
</html>