<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        13. ESTJ 사업가형
        
        고집 셈, 현실적, 이성적, 직설적.
        호불호 확실.
        사람 많은거 싫어함.
        리더 맡는거 싫어하는데 막상 하면 잘함.
        나가서 노는것보단 이것저것 배우는게 좋음.
        외로움 별로 안탐.
        싸우는 거 싫어하지만 싸워서 지는거 싫어함.
        일처리 못하는 거 세상에서 제일 싫음.
        시간약속 어기는 거 싫고 즉흥적인거 싫음.
        남에게 관심없고 오로지 나한테만 집중.
        목표 설정해놓고 그 목표 이룰때까지 한 우물만 팜.
        사람들이 아는 내 성격이랑 혼자 있을 때랑 조금 다름.
        모든게 제자리에 있어야 하고 내 계획이 절대 틀어지면 안됨.
        뭐든 확실한 게 좋음.
        리더역할 주도적으로 자주 함.
        누가 일 못하는 거 못 보고 차라리 그럴바에 내가 두세배로 일 다 해놓음.
        공감능력 부족.
    </pre>
</body>
</html>