<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        9. ESTP 활동가형
 
        외로움 잘 탐.
        손재주 좋음.
        리더쉽 있음.
        표현을 많이 함.
        어른들이 좋아함.
        밖에서 사람 만나는거 좋아하지만 게을러서 나가기까지가 싫음.
        하고싶은거 다 해야됨 못하면 혼자서 부들부들하다가 곧 까먹음.
        걍 대충살고 눈치도 안봄.
        스트레스도 잘 안받음 근데 그렇게 적극적인 편도 아님 걍 사는대로 삼.
        공감능력 조금 부족.
        남한테 관심 없고 생각하는것도 귀찮음.
        모임에서 어느새 내가 분위기 주도하고 있음.
        근자감 쩔음.
    </pre>
</body>
</html>