<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        3. INFJ 예언자형
                
        생각이 너무 많음.
        새로운 일 시작하는거, 새로운 사람 만나는거 싫어함.
        낯가림 심함, 눈치 빠름.
        겉으로 웃는데 속으로 욕 많이 함.
        집순인데 여행가는 건 좋음.
        할거 미리 해치우는 편.
        친해지고 싶은 사람이 있어도 그 사람이 먼저 다가와주길 바람.
        관심받고 싶은데 나서는 건 싫어함.
        내사람한테는 존나 잘해줌.
        조용히 다니는데 가끔 좀 튀고싶을 때 있음.
        나 혼자 생각할 시간 꼭 필요.
        계획적인거 좋아함.
        친하고 마음 맞는 애랑 단 둘이 노는거 좋아함.
        내가 하고싶은건 열심히 함 특히 예술쪽으로 감수성 풍부.
    </pre>
</body>
</html>