<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        7. INFP 잔다르크형
        
        성격이론에 관심 많고, 커뮤니티 많이 함.
        이상주의적.
        잡생각 많음 (망상 잦음).
        관종인데 막상 관심받으면 어색하고 어쩔줄모름.
        완벽하게 하지 못할거면 아예 시작을 안함.
        해야될 일 생각만 하고 실제로는 발만 담그고 안 함.
        완전 처음 보는 사람한테는 말 잘 거는데 학교같이 조직생활 하는 곳에서는 낯 엄청 가림.
        좋아하는 건 미친 듯이 파고 집중 근데 열정이 초기에만 불타고 빨리 식음.
        너무 게을러서 벼락치기 함.
        멀티 안됨, 연락 귀찮아함, 안읽씹 잘함.
        내적 성장 엄청 중요하게 여김.
        가끔 우울한 나에 심취 내 개인적인 얘기 남들한테 하는거 싫어함.
        화날 때 혼자 있어야 함 누가 건들면 안됨.
        한번 싫은건 끝까지 싫음.
        남한테 정말 관심 없음, 남을 잘 안믿음.
        남이 나를 어떻게 생각할지 고민 많이 함.
        누가 내 일하는 방식에 대해 간섭하면 매우 싫어함.
        혼자 있는건 좋은데 외로운 건 싫음.
        나가는거 귀찮아하는데 막상 나가면 잘놈.
        집에서 뒹굴거리면서 티비보는거 좋아함.
        여러명이서 노는것보다 한두명이서 노는게 좋음.
        싸우는 거 싫어해서 걍 내가 희생.
        인간관계에  예민함.
        자기애 강한데 자존감은 낮음.
        처음 보는 사이면 먼저 말 못걸음 근데 말 걸면 또 잘 얘기함.
        남얘기 잘 들어주는척 하는데 사실 딴생각함.
        남얘기에 큰 관심없고 공감하고 싶은 마음도 없음.
        시작은 창대하나, 정작 끝을 내는 법은 없음.
        생각만 하고 실천 안함.
        남한테 폐끼치는 거 제일 싫어함.
        낯 심하게 가리고 사람 사귈 때 따지는거 존나 많음.
    </pre>
</body>
</html>