<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        4. INTJ 과학자형
        
        혼자있는거 좋아함, 사회활동 싫어함.
        근데 단체활동할 때 주도적인 역할 자주 맡음.
        사람많고 시끄러운 장소 싫어함.
        굉장한 개인주의자, 이기적.
        하루하루 세세하게 계획짜놓고 지내는 것 좋아함.
        돈관리도 잘 하는 편, 사실과 원리원칙 중요.
        감정에 휘둘리는 거 싫어함.
        남에게 관심 없고 친구가 고민 상담할때도 공감 못함.
        문제 해결에 도움은 줘도 위로 자체는 잘 못함.
        공상 잦음, 어떤 사안이나 작품에 대해 다각도로 해석하는 거 좋아함.
        수다 떠는 거 좋아함.
        인간관계 정리 잘 하고 사람에게 정 붙이는데 시간 오래 걸림.
        사람 얼굴, 이름 잘 기억 못함.
        약간 관종끼 있지만 내성적이라 표출은 안함.
        동물들에게는 한없이 친절.
        완벽주의자.
        몇몇 물건에 집착함.
        무신경하다는 소리 들음.
        이성적인데 감성적.
        성격 이상하다는 생각 스스로 자주 함.
        특이하고 특별한데 남에게 그런소리 듣는 건 싫음.
        남 눈치 안보고 남 일에 무신경.
    </pre>
</body>
</html>