<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        8. INTP 아이디어형
        
        자발적 아웃사이더.
        혼자 있는게 제일 편하고 행복.
        나 존나 잘난줄 암.
        공상 자주함.
        분석, 추리 좋아함, 생각 많음.
        무뚝뚝한 편이고 잡담같은것도 잘 못하고 싫어함.
        논리력 부족한, 어리석은 사람들 보면 화가 너무 남.
        책 진짜 좋아하는데 읽기 귀찮아서 리스트에만 적어놓음.
        지식에 대한 욕망 강함.
        인간은 싫지만 흥미로운 존재라고 생각.
        진지충이라는 소리 자주 들음.
        팩폭 하지말라는 소리 자주 들음.
        주변에 사람들 별로 없는데 남아있는 사람들이랑은 정말 잘 지냄.
        감수성 풍부, 말 많이 안함, 귀찮은거 싫어함.
        존나 게으르고 미루기의 끝판왕.
        시끄러운거 존나 싫어함.
        감정기복 없음.
        누구한테 내 감정 잘 표현 안하고 묵혀두는데 딱히 그거에 스트레스 받진 않음.
        웬만한 일에 상처 안받음.
        남이 내 욕하는거 신경 안쓰고 남 욕도 안함.
        인간관계 계산적.
        친구들이랑 얘기할 때 가벼운 얘기하는거 싫어함.
        시작하면 끝을 봐야함.
        개인주의자 완벽하게 못할거면 안함.
        남에게 피해주는 거 싫어하고 남에게 관심 별로 없음.
        자기주관 뚜렷, 호불호 확실 감수성 풍부.
    </pre>
</body>
</html>