<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        2. ISFJ 권력형
        
        원칙주의자.
        남 눈치봄, 남들 챙기는 거 좋아함.
        외로움 많이 타는데 많은 사람이랑 있는건 싫음.
        아싸무리에서 인싸, 인싸무리에서 아싸.
        전화오면 받을까 말까 고민하다 받음.
        게으른 완벽주의자.
        조 짜서 하는 단체활동 안 좋아함 혼자서 할 수 있는 일 좋아함.
        남이 볼땐 인생 노잼처럼 보이지만 자기선에선 매우 만족하며 삶.
        배려심 많고 공감 잘해줌.
        인간관계에 스트레서 많이 받음.
        아니면 아니고 말면 말자 마인드.
        겉으론 무덤덤해보여도 속으론 온갖 생각 다 함.
        살짝 비판적.
        어쩔 땐 내향적이고 어쩔 땐 외향적, 성격 왔다갔다해서 나도 내 성격 잘 모름.
        겸손하고 칭찬 많이 해줌.
        진짜 싫어하는 사람 아니면 잘 안까고 남한테 관심도 별로 없음.
        성격 온화, 하자고 하면 거의 다 해줌.
        계획 세우는 거 좋아하고 메모하고 기억해둠.
        사람들한테 나에 대한 어필 잘 안함.
        나서는 거 싫어하는데 관심 받는건 좋음.
        사람들과 어울리는거 좋아하는데 그만큼 혼자 노는것도 좋음.
        되게 쓸데없는 것까지 신경씀 근데 또 쿨함.
        애인 사귀면 오래감.
    </pre>
</body>
</html>