<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        6. ISFP 성인군자형
        
        귀찮음, 행동 느림.
        감정기복 심하고 공감능력 좋음.
        모든 일 미룰 수 있을 때까지 다 미룸.
        집순이, 집돌이.
        집에가면 연락두절됨.
        배려형 개인주의
        약속 있었는데 취소되면 속으로 기뻐함.
        혼자가 좋은데 막상 만나면 잘 놈, 노는건 좋지만 금방 지침.
        조용한 관종, 소심한 관종.
        칭찬 받으면 그거 하루종일 생각남.
        갈등, 불화 싫어함.
        다이어리 끝까지 써본 적 없음.
        사람들이랑 만나면 기빨림.
        한번 받은 일은 끝까지 해야한다는 생각이 있음 근데 하다가 잠.
        친해지면 활발함.
        남 눈치 존나 많이 봄.
        하기 싫은거 안하고 하고싶은것만 함.
        착한 줄 아는데 사실 이기적.
        고집, 자존심 진짜 셈.
        남한테 속마음 얘기 잘 안함.
        사람 만나는거 좋은데 싫음.
        결정 잘 못함.
        거절을 잘 못함.
        양보를 잘함.
        분석, 비판, 판단은 잘하는데 이러한 판단을 적극적으로 행동에 옮기지는 않음.
        미룰 수 있을때까지 미룸.
        겸손하다는 말 자주 들음.
        낙천적.
        인간관계에 신경 많이 쓰는 편.
        자존감 낮음.
        주변 의견, 주변 분위기 따라감.
        불평불만 다 쌓아두기만하고 표출은 못함.
    </pre>
</body>
</html>