<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        1. ISTJ 소금형
 
        원리원칙적, 계획적.
        여행가면 나서서 계획 세움.
        즉흥적인거 싫어함 약속 어기는거 싫어함.
        협동하고 이런거 싫어함.
        그냥 나혼자 하는게 젤 편하고 젤 빠름.
        누가 도와준다고 해도 혼자 할 수 있음 혼자 함.
        내 일이랑 의견에 간섭받는 거 싫어함.
        남한테 관심 별로 없는 편.
        내 얘기 하는것도 싫고 남 얘기 들어주는 것도 힘듦 내가 왜 듣고있어야 하는지 모르겠음.
        책임감 많음.
        가끔 공감능력 부족한 거 같다는 소리 들음.
        딱딱하단 소리 자주 들음.
        철벽 잘 침.
        프젝같은거 할 때 이야기 딴데로 새는거 개 싫어함 시작했으면 목표한 거 끝내야함.
        시작했으면 목표한거 끝내야함.
    </pre>
</body>
</html>