<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        5. ISTP 백과사전형
         
        만사가 귀찮음.
        무미건조, 낯가림 근데 친해지면 말 많고 장난도 잘 침.
        새로운 사람 만나는거 싫어함.
        남한테 관심 없고 내 얘기도 잘 안함.
        혼자만의 문화생활 즐김.
        쓸데없는 소비 엄청함.
        노력절약형, 효율적인거 개 좋아함.
        망상 잘 함.
        내가 제일 잘난줄 암.
        카톡 할말없으면 읽씹, 대화 이어가기 안함.
        주류에 속하기 싫어함.
        자기자랑 꼴뵈기 싫음.
        이것저것 공부하고 싶은게 너무 많음 근데 끝을 못봄.
        미루고 미루다 발등에 불떨어져도 안하다가 발등 타들어가면 그제야 함.
        기계조작 잘하고 재미있어함.
        하나에 꽂히면 끝장을 봐야함.
        내가 질릴때까지 관심있고 하고싶은것만 함.
        하기싫은건 죽어도 안함.
        내가 맡은바는 다 함.
        위계질서 개싫어하고 내가 하는거 간섭 받는거 싫어함.
        친하면 활발한데 내사람 아니면 입 꾹다물고 있음.
        관종이라 관심받는건 좋은데 시끄러운건 싫어함.
        누가 내 욕해도 별로 신경 안씀.
        관찰력 뛰어남, 멀티 안됨, 호불호 강함.
        공감능력 부족.
        티안내려고 노력은 하는데 그래도 티남.
        엠비티아, 사주, 타로 관심많음.
        청소 안함.
    </pre>
</body>
</html>